.card {
    background-color: rgb(51 65 85);
    padding: 0.2rem*5;
    border: 1px solid rgb(15 23 42);
    border-radius: 0.25rem*2;
    color: #fff;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    height: 16rem;

    p,
    small {
        margin: 0;
        padding: 0;
    }

    .title {
        font-size: 0.25rem*6;
        text-transform: capitalize;
        font-weight: 400;
    }

    .description {
        font-size: 0.25rem*4;
    }

    .date {
        font-size: 0.25rem*3;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        >*+* {
            margin-left: 0.25rem*4;
        }

        >div {
            >*+* {
                margin-left: 0.1rem;
            }

            button {
                color: #a7a2a2;

                &:hover {
                    color: #fff;
                }
            }
        }

        .tag {
            background-color: red;
            font-size: 0.25rem*3;
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: normal;
            padding: 0.25rem*1 0.25rem*3 0.25rem*1 0.25rem*3;
            border-radius: 0.25rem*10;

            &.completed {
                background-color: rgb(34 197 94);

            }
        }
    }

}