@use 'sass:math';

@for $i from 1 through 10 {
    .p-#{$i} {
        padding: $i * 0.25rem;
    }
}


@for $i from 1 through 12 {
    .w-#{$i}\/12 {
        width: calc(($i/ 12)*100%);
    }
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}